@import url('https://fonts.googleapis.com/css?family=Comfortaa');
button:hover {
    cursor: pointer;
}
input:focus, button:focus {
    outline-style: none;
}
body {
    opacity: 0;


    background: linear-gradient(to left, #396afc, #2948ff);
    background-size: 400% 400%;
    animation: gradientShift 6s ease 0s infinite;

    margin: 0 auto;

    height: auto;

    position: relative;
    nav {
        z-index: 1000;

        position: fixed;
        top: 0%;

        margin: 0 auto;

        height: 50px;
        width: 100%;

        background: white;

        border-style: none none solid none;
        border-color: rgba(163,163,163, .5);

        display: flex;
        align-items: center;
        justify-content: space-between;
        #rightHandNavHeading {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            height: 100%;
            width: 300px;
        }
        #leftHandNavHeading {
            position: relative;
            left: 15px;
        }
        .rightNavItem {
            padding: 10px;
        }
        .rightNavItem:hover {
            background: rgba(red, .8);
            border-radius: 15px;
            color: white;
            cursor: pointer;
        }
    }
    #personalStatsBox {
        position: fixed;
        top: 125px;
        left: 60px;

        background-color: white;

        height: 350px;
        width: 300px;

        border-radius: 15px;
        border-style: solid;
        border-color: rgba(163,163,163, .5);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden;
        
        .personalStatsBoxRow {
            height: 20%;
            width: 100%;

            border-style: none none solid none;
            border-color: rgba(163,163,163, .5);

            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .personalStatsBoxRow:last-child {
            border-style: none;

            #editAccountInfoButton {
                height: 40%;
                width: 80%;

                font-family: "Comfortaa";

                border-radius: 15px;
                border-style: solid;
                border-color: black;


            }
            #editAccountInfoButton:hover {
                color: white;
                
                background-color: rgba(red, 1);
            }

            #editAccountInfoButton:focus {
                outline-style: none;
            }
        }
        .personalStatsBoxRow:last-child:hover {
            background-color: #e5e5e5;
        }
    }
    #newPostButtonBox {
        position: fixed;
        top: 525px;
        left: 60px;


        height: 100px;
        width: 300px;

        border-radius: 15px;
        border-style: solid;
        border-color: rgba(163,163,163, .5);


        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #newPostButtonBox:hover {
        background-color: #e5e5e5;
    }
    #newPostStartButton {
        height: 40%;
        width: 80%;

        font-family: "Comfortaa";

        border-radius: 15px;
        border-style: solid;
        border-color: black;
    }
    #newPostStartButton:hover {
        color: white;

        background-color: red;
    }
}
@keyframes gradientShift {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
h1, h3, h4, h5 {
    font-family: "Comfortaa";
}
#accountChangeForm {
    height: 100%;
    width: 100%;

    background-color: rgba(black, .7);


    margin: 0 auto;

    position: fixed;


    justify-content: center;
    align-items: center;

    z-index: 10000;

    display: none;
    #accountChangeModal {
        height: 600px;
        width: 600px;

        background-color: white;

        border-radius: 15px;

        position: relative;
        top: -50px;

        margin: 0 auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        #closeAccountChangeModalButton {
            color: red;

            font-family: "Comfortaa";
            font-size: 15px;

            position: absolute;
            top: -20px;
            right: 20px;
        }
        #closeAccountChangeModalButton:hover {
            background-color: red;
            color: white;
            cursor: pointer;
        }

        #accountChangeModalInstructions {
            position: relative;
            left: 20px;
        }

        #accountChangeFormInputs {
            height: 50%;
            width: 100%;

            border-style: solid;

            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-evenly;

            .accountChangeFormInputsRow {
                height: 20%;
                width: 100%;

                display: flex;
                justify-content: space-evenly;
                align-items: center;

                input {
                    border-radius: 15px;
                    border-color: black;
                    border-style: solid;
                    
                    text-indent: 10px;
                }
            }
            .accountChangeFormInputsRow:last-child {
                background-color: rgba(blue,.5);
            }
        }

        #accountChangeFormButtonWrapper {
            height: 20%;
            width: 100%;

            position: relative;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            #accountChangeFormButton {
                height: 30%;
                width: 20%;
    
                border-radius: 15px;
                border-style: none;
    
                color: white;
                font-family: "Comfortaa";
                font-size: 75%;
    
                background-color: red;
            }

            #accountChangeFormButton:hover {
                height: 35%;
                width: 25%;
    
                font-size: 85%;
            }

            #accountDeleteFormButton {
                height: 30%;
                width: 20%;
    
                border-radius: 15px;
                border-style: none;
    
                color: white;
                font-family: "Comfortaa";
                font-size: 75%;
    
                background-color: red;
            }

            #accountDeleteFormButton:hover {
                height: 35%;
                width: 25%;
    
                font-size: 85%;
            }
        }
    }
}

#postMasterWrapper {
    position: absolute;
    top: 100px;
    right: 50px;

    height: auto;
    width: 900px;

    border-style:solid;
    border-color: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 15px;

    overflow: hidden;
    
    

    #postSectionHeader {
        height: 100px; 
        width: 100%;

        background-color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;

        #postCount {
            position: relative;
            left: 120px;
        }

        //border-radius: 10px;
      
        #filterMenuWrapper {
            height: 100%;
            width: 60%;

            

            display: flex;
            align-items: center;
            justify-content: space-evenly;
            p {
                font-family: "Comfortaa";
            }
            #filterTagsWrapper {
                height: 100%;
                width: 50%;

                

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                

                background-color: rgba(darkblue, .5);

                position: relative;

                overflow-y: scroll;


                .hashOptionsWrapper {
                    height: 20%;
                    width: 80%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    padding: 17px;

                    position: relative;
                    
                }
                .hashOptionsWrapper:hover {
                    background-color: rgba(darkblue, .8);
                    border-style: solid;
                    color: white;
                    border-color: white;
                }


            }
            #filterButtonGo {
                border-style: solid;
                border-color: black;
                border-radius: 15px;

                background-color: white;

                font-family: "Comfortaa";
            }
        }
    }
    #newPostEditorWrapper {
        height: 0px;
        width: 100%;

        background-color: darkblue;


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .editorRow {
            display: flex;
            justify-content: space-evenly;
            align-items: center;  

            overflow: scroll;
        }
        #newPostEditorTitleRow {
            height: 15%;
            width: 100%;

            border-style: solid;

            justify-content: space-around;

            input {
                border-radius: 15px;
                border-style: none;

                height: 40%;
                width: 50%;

                font-family: "Comfortaa";
                font-size: 20px;

                text-indent: 10px;

            }
        }
        #newPostEditorContentRow {
            height: 60%;
            width: 100%;

            flex-direction: column;

            border-style: solid;

            textarea {
                height: 80%;
                width: 100%;

                font-family: "Comfortaa";
                font-size: 15px;                
            }
            textArea:focus {
                outline-style: none;
            }
        }
        #newPostEditorButtonsRow {
            height: 10%;
            width: 100%;

            
            border-style: solid;
            #submitNewPostButton {
                height: 60%;
                width: 15%;

                background-color: #044f67;

                border-style: none;
                
                color: white;
                font-family: "Comfortaa";

                border-radius: 15px;
            }
        }
        #newPostEditorTagsRow {
            height: 15%;
            width: 100%;

            
            border-style: solid;

            #editorTagsWrapper {
                height: 100%;
                width: 30%;

                border-radius: solid;

                background-color: rgba(red, .5);

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                overflow-y: scroll;

                .editorTagsOption {
                    height: 20%;
                    width: 80%;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    padding: 16px;

                    font-family: "Comfortaa";
                    color: white;
                }
                .editorTagsOption:hover {
                    border-style: solid;
                    border-color: white;

                    background-color: rgba(red, .8);

                }

            }

        }
    }

    .postWrapper {
        height: 300px;
        width: 100%;

        background-color: #34526f;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    
        h1 {
            color: white;
        }
        p {
            color: white;
            font-family: "Comfortaa";
        }
        textarea {
            font-family: "Comfortaa";
            font-size: 15px;

            height: auto;
            width: 100%;   
        }
        button {
            background-color: red;
            color: white;
            font-family: "Comfortaa";
            border-style: none;

            height: 10%;
            width: 10%;
            
            border-radius: 15px;
        }
    }
}


.editorCaption {
    color: white;
}
















#filterTagsWrapper::-webkit-scrollbar {
    background-color: rgba(black, .5);
    height: 0px;
    width: 7px;
}
#filterTagsWrapper::-webkit-scrollbar-thumb {
    background-color: rgba(black, .8);
}

#editorTagsWrapper::-webkit-scrollbar {
    background-color: rgba(black, .5);
    height: 0px;
    width: 7px;
}
#editorTagsWrapper::-webkit-scrollbar-thumb {
    background-color: rgba(black, .8);
}

.expandPostEditor {
    animation: expandPostEditorAnim .5s ease 0s 1 forwards;
}
@keyframes expandPostEditorAnim {
    0% {height: 0px;}
    100% {height: 500px;}
}
.collapsePostEditor {
    animation: collapsePostEditorAnim .5s ease 0s 1 forwards;
}
@keyframes collapsePostEditorAnim {
    0% {height: 500px;}
    100% {height: 0px;}
}