@import url('https://fonts.googleapis.com/css?family=Comfortaa');
button:hover {
    cursor: pointer;
}
input:focus, button:focus {
    outline-style: none;
}

body {
    opacity: 0;

    background: linear-gradient(to left, #396afc, #2948ff);
    background-size: 400% 400%;
    animation: gradientShift 6s ease 0s infinite;

    margin: 0 auto;

    height: auto;
    width: 100%;    
    nav {
        z-index: 1000;

        position: fixed;
        top: 0%;

        margin: 0 auto;

        height: 50px;
        width: 100%;

        background: white;

        border-style: none none solid none;
        border-color: rgba(163,163,163, .5);

        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            color: black;
            text-decoration: none;
        }
        #rightHandNavHeading {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            height: 100%;
            width: 350px;
        }
        #leftHandNavHeading {
            position: relative;
            left: 15px;
        }
        .rightNavItem {
            padding: 10px;
        }
        .rightNavItem:hover {
            background: rgba(red, .8);
            border-radius: 15px;
            color: white;
            cursor: pointer;
        }
    }
}
@keyframes gradientShift {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

h1, h3, h4, h5 {
    font-family: "Comfortaa";

    a {
        text-decoration: none;
        color: "black";
    }
}

#sitewidePostsHolder {
    position: absolute;
    top: 75px;
    left: 50px;

    border-style: solid;
    border-color: white;
    border-radius: 15px;

    height: 800px;
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;
    h2 {
        position: relative;
        top: 10px;
    }
    h2, h4, h5 {
        font-family: "Comfortaa";
        color: white;

        margin: 0;
    }
    ul {
        position: absolute;
        top: 50px;
        left: 0;
        li {
            color: white;
            h3 {
                font-family: "Comfortaa";
                color: white;
            }
        }
    }
}

#sitewideUsersHolder {
    position: absolute;
    top: 75px;
    left: 450px;

    border-style: solid;
    border-color: white;
    border-radius: 15px;

    height: 800px;
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;
    h2 {
        position: relative;
        top: 10px;
    }
    input {
        position: relative;
        top: 20px;

        border-radius: 15px;
        width: 50%;

        border-style: none;
        
        text-indent: 10px;
    }
    h2, h4, h5 {
        font-family: "Comfortaa";
        color: white;

        margin: 0;
    }
    ul {
        position: absolute;
        top: 70px;
        left: 0;
        li {
            color: white;

            margin: 5px;
            h3 {
                font-family: "Comfortaa";
                color: white;
            }
        }
    }
}
#followedPosts {
    position: absolute;
    top: 75px;
    left: 850px;

    border-style: solid;
    border-color: white;
    border-radius: 15px;

    height: 800px;
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;
    h2 {
        position: relative;
        top: 10px;
    }
    h2, h4, h5 {
        font-family: "Comfortaa";
        color: white;

        margin: 0;
    }
    li {
        margin: 15px;
        
        color: white;
    }
}

#followersHolder {
    overflow: visible;

    height: 800px;
    width: 1200px;


    display: flex;
    justify-content: space-evenly;

    position: absolute;
    top: 100px;
    left: 10%;
    right: 0;
    ul {
        border-style: solid;
        border-color: white;
        border-radius: 15px;

        width: 100%;

        color: white;

        overflow-y: scroll;

        li {
            a {color: white;} 
        }
    }
    #followersListHolder, #followedListHolder {
        height: 100%;
        width: 40%;

        

        input {
            border-radius: 15px;
            border-style: none;
            
            width: 60%;

            text-indent: 10px;
        }

        h1 {
            color: white;
        }
    }
}