@import url("https://fonts.googleapis.com/css?family=Comfortaa");
button:hover {
  cursor: pointer; }

input:focus, button:focus {
  outline-style: none; }

body {
  opacity: 0;
  background: linear-gradient(to left, #396afc, #2948ff);
  background-size: 400% 400%;
  animation: gradientShift 6s ease 0s infinite;
  margin: 0 auto;
  height: auto;
  width: 100%; }
  body nav {
    z-index: 1000;
    position: fixed;
    top: 0%;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    background: white;
    border-style: none none solid none;
    border-color: rgba(163, 163, 163, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body nav a {
      color: black;
      text-decoration: none; }
    body nav #rightHandNavHeading {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      width: 350px; }
    body nav #leftHandNavHeading {
      position: relative;
      left: 15px; }
    body nav .rightNavItem {
      padding: 10px; }
    body nav .rightNavItem:hover {
      background: rgba(255, 0, 0, 0.8);
      border-radius: 15px;
      color: white;
      cursor: pointer; }

@keyframes gradientShift {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
h1, h3, h4, h5 {
  font-family: "Comfortaa"; }
  h1 a, h3 a, h4 a, h5 a {
    text-decoration: none;
    color: "black"; }

#sitewidePostsHolder {
  position: absolute;
  top: 75px;
  left: 50px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  height: 800px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll; }
  #sitewidePostsHolder h2 {
    position: relative;
    top: 10px; }
  #sitewidePostsHolder h2, #sitewidePostsHolder h4, #sitewidePostsHolder h5 {
    font-family: "Comfortaa";
    color: white;
    margin: 0; }
  #sitewidePostsHolder ul {
    position: absolute;
    top: 50px;
    left: 0; }
    #sitewidePostsHolder ul li {
      color: white; }
      #sitewidePostsHolder ul li h3 {
        font-family: "Comfortaa";
        color: white; }

#sitewideUsersHolder {
  position: absolute;
  top: 75px;
  left: 450px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  height: 800px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll; }
  #sitewideUsersHolder h2 {
    position: relative;
    top: 10px; }
  #sitewideUsersHolder input {
    position: relative;
    top: 20px;
    border-radius: 15px;
    width: 50%;
    border-style: none;
    text-indent: 10px; }
  #sitewideUsersHolder h2, #sitewideUsersHolder h4, #sitewideUsersHolder h5 {
    font-family: "Comfortaa";
    color: white;
    margin: 0; }
  #sitewideUsersHolder ul {
    position: absolute;
    top: 70px;
    left: 0; }
    #sitewideUsersHolder ul li {
      color: white;
      margin: 5px; }
      #sitewideUsersHolder ul li h3 {
        font-family: "Comfortaa";
        color: white; }

#followedPosts {
  position: absolute;
  top: 75px;
  left: 850px;
  border-style: solid;
  border-color: white;
  border-radius: 15px;
  height: 800px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll; }
  #followedPosts h2 {
    position: relative;
    top: 10px; }
  #followedPosts h2, #followedPosts h4, #followedPosts h5 {
    font-family: "Comfortaa";
    color: white;
    margin: 0; }
  #followedPosts li {
    margin: 15px;
    color: white; }

#followersHolder {
  overflow: visible;
  height: 800px;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 100px;
  left: 10%;
  right: 0; }
  #followersHolder ul {
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    width: 40%;
    color: white;
    overflow-y: scroll; }
    #followersHolder ul li a {
      color: white; }

/*# sourceMappingURL=style-feed.css.map */
