@import url("https://fonts.googleapis.com/css?family=Comfortaa");
button:hover {
  cursor: pointer; }

input:focus, button:focus {
  outline-style: none; }

body {
  opacity: 0;
  background: linear-gradient(to left, #396afc, #2948ff);
  background-size: 400% 400%;
  animation: gradientShift 6s ease 0s infinite;
  margin: 0 auto;
  height: auto;
  position: relative; }
  body nav {
    z-index: 1000;
    position: fixed;
    top: 0%;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    background: white;
    border-style: none none solid none;
    border-color: rgba(163, 163, 163, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body nav a {
      color: black;
      text-decoration: none; }
    body nav #rightHandNavHeading {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      width: 300px; }
    body nav #leftHandNavHeading {
      position: relative;
      left: 15px; }
    body nav .rightNavItem {
      padding: 10px; }
    body nav .rightNavItem:hover {
      background: rgba(255, 0, 0, 0.8);
      border-radius: 15px;
      color: white;
      cursor: pointer; }
  body #personalStatsBox {
    position: fixed;
    top: 125px;
    left: 60px;
    background-color: white;
    height: 350px;
    width: 300px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(163, 163, 163, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    body #personalStatsBox .personalStatsBoxRow {
      height: 20%;
      width: 100%;
      border-style: none none solid none;
      border-color: rgba(163, 163, 163, 0.5);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
    body #personalStatsBox .personalStatsBoxRow:last-child {
      border-style: none; }
      body #personalStatsBox .personalStatsBoxRow:last-child #editAccountInfoButton {
        height: 40%;
        width: 80%;
        font-family: "Comfortaa";
        border-radius: 15px;
        border-style: solid;
        border-color: black; }
      body #personalStatsBox .personalStatsBoxRow:last-child #editAccountInfoButton:hover {
        color: white;
        background-color: red; }
      body #personalStatsBox .personalStatsBoxRow:last-child #editAccountInfoButton:focus {
        outline-style: none; }
    body #personalStatsBox .personalStatsBoxRow:last-child:hover {
      background-color: #e5e5e5; }
  body #newPostButtonBox {
    position: fixed;
    top: 525px;
    left: 60px;
    height: 100px;
    width: 300px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(163, 163, 163, 0.5);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
  body #newPostButtonBox:hover {
    background-color: #e5e5e5; }
  body #newPostStartButton {
    height: 40%;
    width: 80%;
    font-family: "Comfortaa";
    border-radius: 15px;
    border-style: solid;
    border-color: black; }
  body #newPostStartButton:hover {
    color: white;
    background-color: red; }

@keyframes gradientShift {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
h1, h3, h4, h5 {
  font-family: "Comfortaa"; }
  h1 a, h3 a, h4 a, h5 a {
    text-decoration: none; }

#accountChangeForm {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  display: none; }
  #accountChangeForm #accountChangeModal {
    height: 600px;
    width: 600px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    top: -50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    #accountChangeForm #accountChangeModal #closeAccountChangeModalButton {
      color: red;
      font-family: "Comfortaa";
      font-size: 15px;
      position: absolute;
      top: -20px;
      right: 20px; }
    #accountChangeForm #accountChangeModal #closeAccountChangeModalButton:hover {
      background-color: red;
      color: white;
      cursor: pointer; }
    #accountChangeForm #accountChangeModal #accountChangeModalInstructions {
      position: relative;
      left: 20px; }
    #accountChangeForm #accountChangeModal #accountChangeFormInputs {
      height: 50%;
      width: 100%;
      border-style: solid;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-evenly; }
      #accountChangeForm #accountChangeModal #accountChangeFormInputs .accountChangeFormInputsRow {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        #accountChangeForm #accountChangeModal #accountChangeFormInputs .accountChangeFormInputsRow input {
          border-radius: 15px;
          border-color: black;
          border-style: solid;
          text-indent: 10px; }
      #accountChangeForm #accountChangeModal #accountChangeFormInputs .accountChangeFormInputsRow:last-child {
        background-color: rgba(0, 0, 255, 0.5); }
    #accountChangeForm #accountChangeModal #accountChangeFormButtonWrapper {
      height: 20%;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      #accountChangeForm #accountChangeModal #accountChangeFormButtonWrapper #accountChangeFormButton {
        height: 30%;
        width: 20%;
        border-radius: 15px;
        border-style: none;
        color: white;
        font-family: "Comfortaa";
        font-size: 75%;
        background-color: red; }
      #accountChangeForm #accountChangeModal #accountChangeFormButtonWrapper #accountChangeFormButton:hover {
        height: 35%;
        width: 25%;
        font-size: 85%; }
      #accountChangeForm #accountChangeModal #accountChangeFormButtonWrapper #accountDeleteFormButton {
        height: 30%;
        width: 20%;
        border-radius: 15px;
        border-style: none;
        color: white;
        font-family: "Comfortaa";
        font-size: 75%;
        background-color: red; }
      #accountChangeForm #accountChangeModal #accountChangeFormButtonWrapper #accountDeleteFormButton:hover {
        height: 35%;
        width: 25%;
        font-size: 85%; }

#postMasterWrapper {
  position: absolute;
  top: 100px;
  right: 50px;
  height: auto;
  width: 900px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  overflow: hidden; }
  #postMasterWrapper #postSectionHeader {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; }
    #postMasterWrapper #postSectionHeader #postCount {
      position: relative;
      left: 120px; }
    #postMasterWrapper #postSectionHeader #filterMenuWrapper {
      height: 100%;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      #postMasterWrapper #postSectionHeader #filterMenuWrapper p {
        font-family: "Comfortaa"; }
      #postMasterWrapper #postSectionHeader #filterMenuWrapper #filterTagsWrapper {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: rgba(0, 0, 139, 0.5);
        position: relative;
        overflow-y: scroll; }
        #postMasterWrapper #postSectionHeader #filterMenuWrapper #filterTagsWrapper .hashOptionsWrapper {
          height: 20%;
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 17px;
          position: relative; }
        #postMasterWrapper #postSectionHeader #filterMenuWrapper #filterTagsWrapper .hashOptionsWrapper:hover {
          background-color: rgba(0, 0, 139, 0.8);
          border-style: solid;
          color: white;
          border-color: white; }
      #postMasterWrapper #postSectionHeader #filterMenuWrapper #filterButtonGo {
        border-style: solid;
        border-color: black;
        border-radius: 15px;
        background-color: white;
        font-family: "Comfortaa"; }
  #postMasterWrapper #newPostEditorWrapper {
    height: 0px;
    width: 100%;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #postMasterWrapper #newPostEditorWrapper .editorRow {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      overflow: scroll; }
    #postMasterWrapper #newPostEditorWrapper #newPostEditorTitleRow {
      height: 15%;
      width: 100%;
      border-style: solid;
      justify-content: space-around; }
      #postMasterWrapper #newPostEditorWrapper #newPostEditorTitleRow input {
        border-radius: 15px;
        border-style: none;
        height: 40%;
        width: 50%;
        font-family: "Comfortaa";
        font-size: 20px;
        text-indent: 10px; }
    #postMasterWrapper #newPostEditorWrapper #newPostEditorContentRow {
      height: 60%;
      width: 100%;
      flex-direction: column;
      border-style: solid; }
      #postMasterWrapper #newPostEditorWrapper #newPostEditorContentRow textarea {
        height: 80%;
        width: 100%;
        font-family: "Comfortaa";
        font-size: 15px; }
      #postMasterWrapper #newPostEditorWrapper #newPostEditorContentRow textArea:focus {
        outline-style: none; }
    #postMasterWrapper #newPostEditorWrapper #newPostEditorButtonsRow {
      height: 10%;
      width: 100%;
      border-style: solid; }
      #postMasterWrapper #newPostEditorWrapper #newPostEditorButtonsRow #submitNewPostButton {
        height: 60%;
        width: 15%;
        background-color: #044f67;
        border-style: none;
        color: white;
        font-family: "Comfortaa";
        border-radius: 15px; }
    #postMasterWrapper #newPostEditorWrapper #newPostEditorTagsRow {
      height: 15%;
      width: 100%;
      border-style: solid; }
      #postMasterWrapper #newPostEditorWrapper #newPostEditorTagsRow #editorTagsWrapper {
        height: 100%;
        width: 30%;
        border-radius: solid;
        background-color: rgba(255, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: scroll; }
        #postMasterWrapper #newPostEditorWrapper #newPostEditorTagsRow #editorTagsWrapper .editorTagsOption {
          height: 20%;
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 16px;
          font-family: "Comfortaa";
          color: white; }
        #postMasterWrapper #newPostEditorWrapper #newPostEditorTagsRow #editorTagsWrapper .editorTagsOption:hover {
          border-style: solid;
          border-color: white;
          background-color: rgba(255, 0, 0, 0.8); }
  #postMasterWrapper .postWrapper {
    height: 300px;
    width: 100%;
    background-color: #34526f;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top-style: solid; }
    #postMasterWrapper .postWrapper h1 {
      color: white; }
    #postMasterWrapper .postWrapper p {
      color: white;
      font-family: "Comfortaa"; }
    #postMasterWrapper .postWrapper textarea {
      font-family: "Comfortaa";
      font-size: 15px;
      height: 50%;
      width: 100%; }
    #postMasterWrapper .postWrapper .deletePostButton {
      background-color: red;
      color: white;
      font-family: "Comfortaa";
      border-style: none;
      height: 10%;
      width: 10%;
      border-radius: 15px; }
    #postMasterWrapper .postWrapper .updatePostButton {
      background-color: orange;
      color: white;
      font-family: "Comfortaa";
      border-style: none;
      height: 10%;
      width: 10%;
      border-radius: 15px; }

.editorCaption {
  color: white; }

#userPosts {
  position: absolute;
  top: 100px;
  left: 500px;
  height: 600px;
  width: 800px;
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  overflow-y: scroll; }
  #userPosts h1, #userPosts h3, #userPosts h4 {
    color: white; }

#userPosts::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.5);
  width: 7px; }

#userPosts::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8); }

#filterTagsWrapper::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 0px;
  width: 7px; }

#filterTagsWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8); }

#editorTagsWrapper::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 0px;
  width: 7px; }

#editorTagsWrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8); }

.expandPostEditor {
  animation: expandPostEditorAnim .5s ease 0s 1 forwards; }

@keyframes expandPostEditorAnim {
  0% {
    height: 0px; }
  100% {
    height: 500px; } }
.collapsePostEditor {
  animation: collapsePostEditorAnim .5s ease 0s 1 forwards; }

@keyframes collapsePostEditorAnim {
  0% {
    height: 500px; }
  100% {
    height: 0px; } }

/*# sourceMappingURL=style-dashboard.css.map */
