@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    background: linear-gradient(to left, #396afc, #2948ff);
    background-size: 400% 400%;
    animation: gradientShift 3s ease 0s infinite;
}
@keyframes gradientShift {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@mixin centerAll($valueDirection, $valueJustifySpacing, $valueAlignSpacing) {
    display: flex;
    flex-direction: $valueDirection;
    justify-content: $valueJustifySpacing;
    align-items: $valueAlignSpacing;
}
nav {
    position: fixed;
    top: 0;
    right: 100px;

    height: 50px;
    width: 100px;

    background-color: rgba(red, .8);

    border-radius: 0 0 15px 15px;

    @include centerAll(row, center, center);

    img {
        height: 40px;
        width: 40px;
    }

}
form {
    height: 400px;
    width: 700px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(red, .8);
    @include centerAll(column, center, center);
    .row {
        height: 33%;
        width: 100%;
        @include centerAll(row, space-evenly, center);
        position: relative;
        button {
            font-family: "Comfortaa";
            color: red;
            position: absolute;
            background-color: rgba(white, 1);
            border-style: none;
            border-radius: 10px;
            height: 40px;
            width: 80px;
        }
        button:focus {
            outline-style: none;
        }
        .bottom {
            bottom: 110px;
        }
        .signUp {
            left: 55%;
        }
        .logIn {
            right: 55%;
        }
    }
    .row:nth-of-type(1) {
        justify-content: flex-start;
        padding-left: 25px;
        h1 {
            color: white;
            font-size: 200%;
            font-family: "Comfortaa";
        }
    }
}
.shrinkGrow {
    animation: shrinkGrowAnim 2s ease 0s 1 forwards;
}
@keyframes shrinkGrowAnim {
    0% {height: 400px;}
    50% {height: 100px;}
    100% {top: 10%; height: 600px;}
}
.growShrink {
    animation: growShrinkAnim 2s ease 0s 1 forwards;
}
@keyframes growShrinkAnim {
    0% {top: 10%; height: 600px;}
    50% {top: 7.5%; height: 100px;}
    100% {top: 25%; height: 400px;}
}
#logInFields {
    height: 100%;
    width: 80%;
    @include centerAll(column,space-evenly,space-evenly);
    position: absolute;
    margin: 0 auto;
}
.loginFieldsRow {
    height: 50%;
    width: 100%;
    @include centerAll(row,space-evenly,center);
}
.swapOutLogIn {
    left: 0%;
    animation: swapOutLoginAnim .25s linear 0s 1 forwards;
}
@keyframes swapOutLoginAnim {
    0% {left: 0%;}
    100% {left: -100%;}
}
.swapInLogIn {
    left: -100%;
    animation: swapInLoginAnim .25s linear 1.75s 1 forwards;
}
@keyframes swapInLoginAnim  {
    0% {left: -100%;}
    100% {left: 0%; right: 0%;}
}
#signUpFields {
    height: 100%;
    width: 80%;
    @include centerAll(column,space-evenly,space-evenly);
    position: absolute;
    right: -200%;
    margin: 0 auto;
}
.signupFieldsRow {
    height: 50%;
    width: 100%;
    @include centerAll(row,space-evenly,center);


}
.signupFieldsRow:nth-child(2) {
    padding-left: 35px;
}
.signupFieldsRow:nth-child(1) {
    padding-left: 7.5px;
}
.swapInSignUp {
    right: -100%;
    animation: swapInSignupAnim .25s linear 1.75s 1 forwards;
}
@keyframes swapInSignupAnim  {
    0% {right: -100%;}
    100% {right: 0%; left: 0%;}
}
.swapOutSignUp {
    right: 0%;
    animation: swapOutSignupAnim .25s linear 0s 1 forwards;
}
@keyframes swapOutSignupAnim  {
    0% {right: 0%; left: 0%}
    100% {right: -100%;}
}
h3 {
    color: white;
    font-size: 150%;
    font-family: "Comfortaa";
}
input {
    height: 20px;
    width: 30%;
    border-style: none;
    border-radius: 15px;
    text-indent: 10px;

    font-family: "Comfortaa";
}
h6 {
    font-family: "Comfortaa";
    color: white;

    position: absolute;
    top: 112px;
    left: 50%;
}
input:focus {
    outline-style: none;
}
#togglePassword {
    position: absolute;
    top: 135px;
    left: 45%;

    margin: 0 auto;

    z-index: 1000;
}
.shakeLogIn {
    left: 0%;
    right: 0%;
    animation: shakeLogInAnim .25s linear 0s 1;
}
@keyframes shakeLogInAnim {
    0% {left: 0%;}
    25% {left: -7.5%;}
    75% {left: 7.5%}
    100% {left: 0%; right: 0%;}
}
.leftEmpty {
    animation: leftEmptyAnim 1s linear 0s 1;
}
@keyframes leftEmptyAnim {
    0% {color: white;}
    25% {color: blue;}
    50% {color: white;}
    75% {color: blue;}
    100% {color: white;}
}
